In [1]:
#NaiveBayes project(weather Prediction)
#Required Modules
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [2]:
dict1={
    "Outlook":['Rainy','Rainy','Overcast','Sunny','Sunny','Sunny','Overcast','Rainy','Rainy','Sunny','Rainy','Overcast','Overcast','Sunny'],
    "Temp":['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild'],
    "Humidity":['High','High','High','High','Normal','Normal','Normal','High','Normal','Normal','Normal','High','Normal','High'],
    "Windy":['f','t','f','f','f','t','t','f','f','f','t','t','f','t'],
    "Play":['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']
}

In [3]:
df=pd.DataFrame(dict1)

df

     Outlook  Temp Humidity Windy Play
0      Rainy   Hot     High     f   no
1      Rainy   Hot     High     t   no
2   Overcast   Hot     High     f  yes
3      Sunny  Mild     High     f  yes
4      Sunny  Cool   Normal     f  yes
5      Sunny  Cool   Normal     t   no
6   Overcast  Cool   Normal     t  yes
7      Rainy  Mild     High     f   no
8      Rainy  Cool   Normal     f  yes
9      Sunny  Mild   Normal     f  yes
10     Rainy  Mild   Normal     t  yes
11  Overcast  Mild     High     t  yes
12  Overcast   Hot   Normal     f  yes
13     Sunny  Mild     High     t   no

In [4]:
#Converting DataFrame into csv file...
df.to_csv('New_dataset.csv')

In [5]:
#Reading CSV files
df=pd.read_csv('New_dataset.csv')

In [6]:
df

    Unnamed: 0   Outlook  Temp Humidity Windy Play
0            0     Rainy   Hot     High     f   no
1            1     Rainy   Hot     High     t   no
2            2  Overcast   Hot     High     f  yes
3            3     Sunny  Mild     High     f  yes
4            4     Sunny  Cool   Normal     f  yes
5            5     Sunny  Cool   Normal     t   no
6            6  Overcast  Cool   Normal     t  yes
7            7     Rainy  Mild     High     f   no
8            8     Rainy  Cool   Normal     f  yes
9            9     Sunny  Mild   Normal     f  yes
10          10     Rainy  Mild   Normal     t  yes
11          11  Overcast  Mild     High     t  yes
12          12  Overcast   Hot   Normal     f  yes
13          13     Sunny  Mild     High     t   no

In [7]:
#Encoding the strings to Numericals
outlook_at=LabelEncoder()
Temp_at=LabelEncoder()
Hum_at=LabelEncoder()
win_at=LabelEncoder()

In [8]:
#Dropping the target variable and make it is as newframe
inputs=df.drop('Play',axis='columns')
target=df['Play']
target

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [9]:
#Creating the new dataframe
inputs['outlook_n']= outlook_at.fit_transform(inputs['Outlook'])
inputs['Temp_n']= outlook_at.fit_transform(inputs['Temp'])
inputs['Humidity_n']= outlook_at.fit_transform(inputs['Humidity'])
inputs['windy_n']= outlook_at.fit_transform(inputs['Windy'])
inputs

,Unnamed: 0,Outlook,Temp,Humidity,Windy,outlook_n,Temp_n,Humidity_n,windy_n
0,0,Rainy,Hot,High,f,1,1,0,0
1,1,Rainy,Hot,High,t,1,1,0,1
2,2,Overcast,Hot,High,f,0,1,0,0
3,3,Sunny,Mild,High,f,2,2,0,0
4,4,Sunny,Cool,Normal,f,2,0,1,0
5,5,Sunny,Cool,Normal,t,2,0,1,1
6,6,Overcast,Cool,Normal,t,0,0,1,1
7,7,Rainy,Mild,High,f,1,2,0,0
8,8,Rainy,Cool,Normal,f,1,0,1,0
9,9,Sunny,Mild,Normal,f,2,2,1,0
10,10,Rainy,Mild,Normal,t,1,2,1,1
11,11,Overcast,Mild,High,t,0,2,0,1
12,12,Overcast,Hot,Normal,f,0,1,1,0
13,13,Sunny,Mild,High,t,2,2,0,1

In [10]:
df.to_csv('New_dataset.csv', index=False)

In [11]:
#Reading CSV files
df=pd.read_csv('New_dataset.csv')

In [12]:
df

    Unnamed: 0   Outlook  Temp Humidity Windy Play
0            0     Rainy   Hot     High     f   no
1            1     Rainy   Hot     High     t   no
2            2  Overcast   Hot     High     f  yes
3            3     Sunny  Mild     High     f  yes
4            4     Sunny  Cool   Normal     f  yes
5            5     Sunny  Cool   Normal     t   no
6            6  Overcast  Cool   Normal     t  yes
7            7     Rainy  Mild     High     f   no
8            8     Rainy  Cool   Normal     f  yes
9            9     Sunny  Mild   Normal     f  yes
10          10     Rainy  Mild   Normal     t  yes
11          11  Overcast  Mild     High     t  yes
12          12  Overcast   Hot   Normal     f  yes
13          13     Sunny  Mild     High     t   no

In [13]:
 #if you want to see the top 3 data from the upper talbe then syntax
df.head(3)

   Unnamed: 0   Outlook Temp Humidity Windy Play
0           0     Rainy  Hot     High     f   no
1           1     Rainy  Hot     High     t   no
2           2  Overcast  Hot     High     f  yes

In [14]:
 #if you want to see the lower 4 data from the upper talbe then syntax
df.tail(4)

    Unnamed: 0   Outlook  Temp Humidity Windy Play
10          10     Rainy  Mild   Normal     t  yes
11          11  Overcast  Mild     High     t  yes
12          12  Overcast   Hot   Normal     f  yes
13          13     Sunny  Mild     High     t   no

In [15]:
#if you want to describe the all the arithmetic operation on the numerical value in the table__
df.describe()

       Unnamed: 0
count     14.0000
mean       6.5000
std        4.1833
min        0.0000
25%        3.2500
50%        6.5000
75%        9.7500
max       13.0000

In [16]:
#Dropping the string values
inputs_n=inputs.drop(['Outlook','Temp','Humidity','Windy'],axis='columns')
inputs_n

    Unnamed: 0  outlook_n  Temp_n  Humidity_n  windy_n
0            0          1       1           0        0
1            1          1       1           0        1
2            2          0       1           0        0
3            3          2       2           0        0
4            4          2       0           1        0
5            5          2       0           1        1
6            6          0       0           1        1
7            7          1       2           0        0
8            8          1       0           1        0
9            9          2       2           1        0
10          10          1       2           1        1
11          11          0       2           0        1
12          12          0       1           1        0
13          13          2       2           0        1

In [17]:
#Applying the Gaussian naivebayes
classifier = GaussianNB()
classifier.fit(inputs_n,target)

GaussianNB()

In [18]:
#85% accuracy 
classifier.score(inputs_n,target)

0.7857142857142857

In [20]:
#Prediction
classifier.predict([[2,0,1,0,0]])

C:\Users\91999\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array(['yes'], dtype='<U3')

In [21]:
#Prediction
classifier.predict([[0,0,0,1]])

C:\Users\91999\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

ValueError: X has 4 features, but GaussianNB is expecting 5 features as input.

In [22]:
df

    Unnamed: 0   Outlook  Temp Humidity Windy Play
0            0     Rainy   Hot     High     f   no
1            1     Rainy   Hot     High     t   no
2            2  Overcast   Hot     High     f  yes
3            3     Sunny  Mild     High     f  yes
4            4     Sunny  Cool   Normal     f  yes
5            5     Sunny  Cool   Normal     t   no
6            6  Overcast  Cool   Normal     t  yes
7            7     Rainy  Mild     High     f   no
8            8     Rainy  Cool   Normal     f  yes
9            9     Sunny  Mild   Normal     f  yes
10          10     Rainy  Mild   Normal     t  yes
11          11  Overcast  Mild     High     t  yes
12          12  Overcast   Hot   Normal     f  yes
13          13     Sunny  Mild     High     t   no